.background_image { 
    position: absolute;/* Elements with a higher z-index are displayed on top */
    top: 0px;
    left: 0px;
    z-index: 1; 
    max-width: 70%;
    max-height: 70%
}
.foreground_image { 
    position: absolute;
    top: 25px;
    left: 100px;
    z-index: 2; 
    max-width: 70%;
    max-height: 70%
}
.text { 
    position: absolute;
    top: 25px;
    left: 100px;
    z-index: 3;
    font-size: 20pt;
    font-family: tahoma, geneva, sans-serif; 
}