body {
    background-image: url(../images/cat.jpg);
    background-position: bottom right;
    background-repeat: repeat-x; /* Enable repeating */
    background-attachment: fixed;
    background-color: lightgrey;
    background-size: 400px 400px; /* Resize the image to be smaller */
    text-indent:2px;/*縮排*/
    font-style: oblique;
}

p {
    font-size: 18pt;
    color: darkblue;
    text-indent: 1em;
    font-family: arial, sans-serif;
}
.dark {
    font-weight: bold;
}