.flex-container {
    display: flex;
    background-color: DodgerBlue;
}
  
.flex-container2 {
    flex-wrap: wrap; /* 彈性項目在必要時會換行，設置在parent div */
    display: flex;
    background-color: rgb(11, 225, 39);
}

.flex-container3 {
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: rgb(255, 99, 71);
}

.flex-container > div { /* >: child selection */
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px; /* 行距 */
    font-size: 30px;
}
  
.flex-container2 > div { /* >: child selection */
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px; /* 行距 */
    font-size: 30px;
}
    
.flex-container3 > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

    